#__version{
  border: 0;
  color: var(--md-primary-bg-color);
  padding: 0.5em;
  border-radius: 0.1em;
}

@media screen and (min-width: 76.25em) {
  #__version{
    background: var(--mdx-version-bg-color);
  }
}
