<!--SPDX-License-Identifier: Apache-2.0-->
{% extends "base.html" %}

{% block hero %}
  {% if page and page.meta and page.meta.hero %}
    {{page.meta.hero}}
  {% endif %}
{% endblock %}

<!-- Content -->
{% block content %}
  <!-- Last update of source file -->
  {% if page and page.meta %}
    {% if page.meta.git_revision_date_localized or
    page.meta.revision_date
    %}
      {% include "partials/source-file.html" %}
    {% endif %}
  {% endif %}

  <!--
    Hack: check whether the content contains a h1 headline. If it
    doesn't, the page title (or respectively site name) is used
    as the main headline.
  -->
  {% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
  {% endif %}

  <!-- Markdown content -->
  {{ page.content }}
{% endblock %}

{% block scripts %}
  <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
  <script src="{{ 'assets/javascripts/version.js' | url }}"></script>
  <script src="{{ 'assets/javascripts/mathjax.js' | url }}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="{{ 'assets/javascripts/accessiBe.js' | url }}"></script>

  {{ super() }}

  {% if config.extra.debug %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/custom.css' | url }}">
  <link rel="stylesheet" href="{{ 'assets/stylesheets/version.css' | url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block announce %}
  {% if config.extra.announce %}
    {{ config.extra.announce }}
  {% endif %}
{% endblock %}
